<link rel="stylesheet" href="/styles/main.css" />

<div class="ppp">
    <div class="topnav">
        <a href="#home">Home</a>
        <a href="#arena-legends">Arena Legends</a>
    </div>

    <div class="we">
        <a href="#login">Login</a>
        <a href="#registration">Registration</a>
    </div>
</div>

<div class="content">
    <h2>Wild Pixels Entertainment</h2>
    <p>We do cool things and don't do things that aren't cool.</p>
</div>

@code {

}
