.btn-5 {
  min-width: 8rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0 solid;
  border-radius: 2px;
  outline: 1px solid;
  outline-color: rgba(white, 0.5);
  outline-offset: 0px;
  transition: all 0.5s cubic-bezier(0.2, 1, 0.2, 1);

  &:hover {
    cursor: pointer;
    border: 0 solid;
    background-color: rgba(white, 0.2);
    outline-color: rgba(white, 0);
    outline-offset: 10px;
  }
}
